
body {
  background-color: #4666da; /* Blue SWiwawa */
}

.custom-gap {
  margin-bottom: 1px;
}

.small-font {
  font-size: 0.75rem;
}

.half-width {
  width: 70%;
}


.welcome-container label {
  color: white;
}

.navbar-custom {
  background-color: #494D59;
}
.navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link.active {
  text-decoration: underline;
  color: #D9A045;
}
.navbar-collapse {
  justify-content: center;
}
.custom-button{
  background-color: #4594D9;
}

#home-tab p {
  color: white;
}
#home-tab label {
  color: white;
}
#home-tab h2 {
  color: white;
}
#text-wall {
  color: white;
}

#browse-tab p {
  color: white;
}

#browse-tab label {
  color: white;
}
#browse-tab h2 {
  color: white;
}

#other-user-text-wall {
  color: white;
}
